<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Group Messages</span>
                    <table>
                        <tbody ng-repeat="message in groupsMessagesCtrl.messagesList" ng-init="likes=groupsMessagesCtrl.loadNumberOfLikes(message.mid)">
                            <tr>
                                <th>Sent by: </th>
                                <th>{{message.username}}</th>
                            </tr>
                            <tr>
                                <th>Content: </th>
                                <th>{{message.content}}</th>
                            </tr>
                            <tr style="border-bottom: solid bold green">
                                <th>Date: </th>
                                <th>{{message.date}}</th>
                            </tr>
                            <tr style="border-bottom: solid bold green">
                                <th>Likes: </th>
                                <th>{{groupsMessagesCtrl.likes}}</th>
                            </tr>
                            <tr style="border-bottom: solid bold green">
                                <th>Dislikes: </th>
                                <th>{{groupsMessagesCtrl.dislikes}}</th>
                            </tr>
                            <button>LIKE</button>

                            <tr>
                                <th style="height: 3px; background: green; padding:0;"></th>
                                <th style="height: 3px; background: green; padding:0;"></th>
                            </tr>
                        </tbody>
                    </table>
                    <table><tbody id="chat"></tbody></table>

                    <a style="display: block"> Enter new message</a>
                    <textarea id="content" rows=6 style="border: solid thin blue; margin-top: 0px; padding:0; width:100%; height: 39px"></textarea>
                    <a  style="display: block"> Sender</a>
                    <input id="sender" type="text" style="border: solid thin blue; margin-top: 0px; width:100%; height: 15px">
                    <a class="waves-effect  green lighten-1 btn-small" style="display: block" ng-click="groupsMessagesCtrl.postNewMessage()">Send</a>
                </div>
                <div class="card-action">
                    <a href="#/groups">Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>